/*

    Name:       webfriend
    Author:     Gary Hetzel (https://github.com/ghetzel)

    Based on original dracula color scheme by:
    Michael Kaminsky (http://github.com/mkaminsky11) and Zeno Rocha (https://github.com/zenorocha/dracula-theme)

*/

.cm-s-webfriend.CodeMirror,
.cm-s-webfriend .CodeMirror-gutters {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border: none;
}

.cm-s-webfriend .CodeMirror-gutters {
  color: #282a36;
}

.cm-s-webfriend .CodeMirror-cursor {
  border-left: solid thin #f8f8f0;
}

.cm-s-webfriend .CodeMirror-linenumber {
  color: #6D8A88;
}

.cm-s-webfriend .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-webfriend .CodeMirror-line::selection,
.cm-s-webfriend .CodeMirror-line>span::selection,
.cm-s-webfriend .CodeMirror-line>span>span::selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-webfriend .CodeMirror-line::-moz-selection,
.cm-s-webfriend .CodeMirror-line>span::-moz-selection,
.cm-s-webfriend .CodeMirror-line>span>span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-webfriend span.cm-comment {
  color: #6272a4;
}

.cm-s-webfriend span.cm-string,
.cm-s-webfriend span.cm-string-2 {
  color: #f1fa8c;
}

.cm-s-webfriend span.cm-number {
  color: #79A4D9;
}

.cm-s-webfriend span.cm-variable {
  color: #96D789;
}

.cm-s-webfriend span.cm-variable-2 {
  color: white;
}

.cm-s-webfriend span.cm-def {
  color: #96D789;
}

.cm-s-webfriend span.cm-operator {
  color: #ff79c6;
}

.cm-s-webfriend span.cm-keyword {
  color: #ff79c6;
}

.cm-s-webfriend span.cm-atom {
  color: #79A4D9;
}

.cm-s-webfriend span.cm-meta {
  color: #f8f8f2;
}

.cm-s-webfriend span.cm-tag {
  color: #ffb86c;
}

.cm-s-webfriend span.cm-attribute {
  color: #96D789;
}

.cm-s-webfriend span.cm-qualifier {
  color: #96D789;
}

.cm-s-webfriend span.cm-property {
  color: #66d9ef;
}

.cm-s-webfriend span.cm-builtin {
  color: #96D789;
}

.cm-s-webfriend span.cm-variable-3,
.cm-s-webfriend span.cm-type {
  color: #ffb86c;
}

.cm-s-webfriend .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-webfriend .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}