---
includes:
    head: /_includes/head.html
---
<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" }}
    <title>Webfriend</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/img/webfriend.svg" height="48">
        </a>

        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="webfriend.command('back'); return false;">
                    <i class="fa fa-fw fa-2x fa-arrow-left"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" onclick="webfriend.command('reload'); return false;">
                    <i class="fa fa-fw fa-2x fa-repeat"></i>
                </a>
            </li>
        </ul>

        <form class="w-100" id="urlbar">
            <input type="text" name="url" class="form-control">
        </form>

        <a class="navbar-brand ml-4 d-none d-sm-block" href="/">
            <img src="/img/logo-text-darkbg.svg" height="28" class="mb-2">
        </a>

        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" href="/docs">
                    <i class="fa fa-fw fa-2x fa-question-circle"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div id="overlay" hidden>
        <div>
            <i class="fa fa-fw fa-warning"></i>
        </div>

        <h2>Webfriend Server Unavailable</h2>

        <p>
            Make sure the Webfriend service is still running.
        </p>
    </div>

    <div id="main">
        <div id="arena">{{ template "content" . }}</div>
        <div id="sidebar">
            <div id="editarea">
                <script>
                $(document).ready(function () {
                    window.editor = new Editor('#editarea');
                });
                </script>
            </div>
            <div id="inspect">
                <div class="inspect-title">&nbsp;</div>
                <div class="inspect-body">
                    <div class="inspect-attributes">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 33%">Attribute</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="inspect-metrics">&nbsp;</div> -->
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            var urlbar = $('#urlbar');

            urlbar.find('input').on('focus', function (e) {
                $(this).one('mouseup', function () {
                    $(this).select();
                    return false;
                })
                .select();
            });

            urlbar.on('submit', function(e){
                try {
                    $.each(urlbar.serializeArray(), function(i, v){
                        if (v.name == 'url') {
                            webfriend.command('go', v.value);
                            $('#urlbar > input').blur();
                            $('#browser').focus();
                        }
                    });
                } catch (e) {
                    console.error(e);
                }

                e.preventDefault();
                return false
            });
        });
    </script>
</body>

</html>