<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/codemirror.css">
    <link rel="stylesheet" href="/css/editor/show-hint.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/editor/webfriend.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-hind.css" integrity="sha384-EU3gxFIXEx0F6RDsVUTUQpjd+V6dOgH935HL/47t8xqMxngzJw6psDsqQYPOUe16"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/webfriend.css" crossorigin="anonymous">

    <script src="/js/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n"
        crossorigin="anonymous"></script>
    <script src="/js/jquery.simple.websocket.js" integrity="sha384-ury8ZTZTL/MZjBRspE5eEuVBT/ViWa51jliCwSWw200vMClJMMPgdIRVq9bOAqWo"
        crossorigin="anonymous"></script>
    <script src="/js/mrdoob-stats.min.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/codemirror/addons/active-line.js"></script>
    <script src="/js/codemirror/addons/show-hint.js"></script>
    <script src="/js/codemirror/modes/friendscript.js"></script>
    <script src="/js/stapes.min.js"></script>
    <script src="/js/webfriend-editor.js"></script>
    <script src="/js/webfriend.js"></script>

    <title>Webfriend</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/img/webfriend.svg" height="48">
        </a>

        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="webfriend.command('back'); return false;">
                    <i class="fa fa-fw fa-2x fa-arrow-left"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" onclick="webfriend.command('reload'); return false;">
                    <i class="fa fa-fw fa-2x fa-repeat"></i>
                </a>
            </li>
        </ul>

        <form class="w-100" id="urlbar">
            <input type="text" name="url" class="form-control" value="https://news.ycombinator.com">
        </form>

        <a class="navbar-brand ml-4 d-none d-sm-block" href="/">
            <img src="/img/logo-text-darkbg.svg" height="28" class="mb-2">
        </a>
    </nav>

    <div id="main">
        <div id="arena">{{ template "content" . }}</div>
        <div id="sidebar">
            <script>
            $(document).ready(function () {
                window.editor = new Editor('#sidebar');
            });
            </script>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            var urlbar = $('#urlbar');

            urlbar.find('input').on('focus', function (e) {
                $(this).one('mouseup', function () {
                    $(this).select();
                    return false;
                })
                .select();
            });

            urlbar.on('submit', function(e){
                try {
                    $.each(urlbar.serializeArray(), function(i, v){
                        if (v.name == 'url') {
                            webfriend.command('go', v.value);
                            $('#urlbar > input').blur();
                            $('#browser').focus();
                        }
                    });
                } catch (e) {
                    console.error(e);
                }

                e.preventDefault();
                return false
            })
        });
    </script>
</body>

</html>