#main {
    padding: 0;
    position: relative;
    height: calc(100vh - 74px);
    display: flex;
    align-content: stretch;
}

#arena {
    background: #111111;
    position: relative;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

#sidebar {
    display: flex;
    align-content: flex-start;
    justify-content: stretch;
    width: 40vw;
}

#toolbar {
    background: #222222;
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
    width: 3vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

#toolbar a {
    display: block;
    padding-top: 0.5vh;
    margin-bottom: 1vh;
    text-align: center;
}

#toolbar a > * {
    display: block;
}

#toolbar a i {
    font-size: 2vh;
    width: 3vw;
    height: 2vh;
}

#toolbar a .shortcut {
    display: block;
    color: #888888;
    text-align: center;
    font-size: 10pt;
    user-select: none;
}

#toolbar a:hover {
    background: #555555;
}

#toolbar a.active {
    background: #555555;
    color: white;
}

#toolbar a.active > * {
    color: white;
}

#toolbar .script-execute i {
    color: #96D789;
}

#toolbar .chevron {
    justify-self: center;
}

#toolbar i {
    color: white;
    width: 100%;
    display: inline-block;
}

#browser {
    background: #111111;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    image-rendering: optimizeSpeed;
}

#stats {
    position: absolute;
    top: 11%;
    right: 1em;
    z-index: 10000;
    width: 80px;
}

#stats>* {
    margin: 0.5em;
}

#inspect {
    /* position: absolute; */
    top: 0;
    left: 0;
    width:  100%;
    height: 10%;
    background: #222222;
    border-bottom: 1px solid #555555;
    color: white;
}

#inspect.active {
    display: block;
}

#inspect.active ~ #browser {
    height: 90%;
}

#inspect > .inspect-title {
    background-color: #333333;
    border-bottom: 2px solid #555555;
    padding: 0.25em 1em;
    font-family: monospace;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#editor {
    background: #222222;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#editor .filebar {
    height: 4.75vh;
    border-bottom: 1px solid #555555;
    background: #222222;
    display: flex;
}

#editor .files {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#editor .files .editor-file,
#editor .files .CodeMirror {
    width: 100%;
    height: 100%;
}

#editor .files {
    flex: 1;
}

#editor .statusbar {
    background: #111111;
    color: white;
    width: 100%;
    height: 3vh;
    font-size: 90%;
    line-height: 3vh;
    vertical-align: middle;
    padding: 0 0.5em;
}

#editor .filebar .nav {
    background: transparent;
    border-bottom: 0;
}

#editor .filebar .nav .nav-item {
    background: transparent;
    font-size: 90%;
    text-align: center;
    margin-top: 0.75vh;
    margin-right: 0.25em;
}

#editor .filebar .nav .nav-link {
    color: #888888;
    border-radius: 0;
    border: 0;
}


#editor .filebar .nav .nav-item .file-icon {
    color: #888888;
}

#editor .filebar .nav .nav-item .active {
    background: #555555;
    color: white;
}

#editor .filebar .nav .nav-item .active .file-icon {
    color: white;
}

#editor .filebar .nav .nav-item .disabled {
    background: #111111;
    color: #555555;
    cursor: not-allowed;
}

#editor .filebar .open-files {
    /* margin-left: 1em; */
    flex: 1;
}

#editor .filebar .open-files .nav-item {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

#editor .filebar .open-files .nav-item a:first-child {
    flex: 1;
}

#editor .filebar .open-files .nav-item {
    min-width: 100px;
}

#editor .filebar .open-files .nav-item {
    text-align: left;
}

#editor .filebar .open-files .nav-item :first-child {
    padding-right: 0;
}

#editor .filebar .open-files .nav-item :last-child {
    padding-left: 0.5em;
    padding-right: 0.55em;
    text-align: center;
}

#editor .filebar .open-files .nav-item :last-child > i {
    padding: 0;
}

#editor .filebar .open-files .nav-item > .nav-link:last-child:hover {
    background-color: #888888;
    color: white;
}

#editor .filebar .file-actions {
    background-color: #222222;
}

#editor .filebar .file-actions .nav-link {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

#editor .filebar .file-actions .nav-link:hover {
    background: #555555;
    color: white;
}

#editor .filebar .workspace-selector .nav-link {
    background: transparent;
}