#main {
    padding: 0;
    position: relative;
    height: calc(100vh - 74px);
    display: flex;
    align-content: stretch;
}

#arena {
    background: #111111;
    position: relative;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: stretch;
    width: 40vw;
}

#editarea {
    display: flex;
    align-content: flex-start;
    justify-content: stretch;
    flex: 1;
}

#toolbar {
    background: #222222;
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
    width: 3vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

#toolbar a {
    display: block;
    padding-top: 0.5vh;
    margin-bottom: 1vh;
    text-align: center;
}

#toolbar a > * {
    display: block;
}

#toolbar a i {
    font-size: 2vh;
    width: 3vw;
    height: 2vh;
}

#toolbar a .shortcut {
    display: block;
    color: #888888;
    text-align: center;
    font-size: 10pt;
    user-select: none;
}

#toolbar a:hover {
    background: #555555;
}

#toolbar a.active {
    background: #555555;
    color: white;
}

#toolbar a.active > * {
    color: white;
}

#toolbar .script-execute i {
    color: #96D789;
}

#toolbar .chevron {
    justify-self: center;
}

#toolbar i {
    color: white;
    width: 100%;
    display: inline-block;
}

#browser {
    background: #111111;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    image-rendering: optimizeSpeed;
}

#stats {
    position: absolute;
    top: 11%;
    right: 1em;
    z-index: 10000;
    width: 80px;
}

#stats>* {
    margin: 0.5em;
}

#inspect {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width:  100%;
    height: 25vh;
    background: #222222;
    border-top: 2px solid #555555;
    border-bottom: 1px solid #555555;
    color: white;
    display: none;
    overflow: auto;
    flex-direction: column;
    justify-content: stretch;
}

#inspect.active {
    display: flex;
}

#inspect.active ~ #browser {
    height: 90%;
}

#inspect > .inspect-title {
    background-color: #333333;
    border-bottom: 2px solid #555555;
    padding: 0.25em 1em;
    font-family: monospace;
}

#inspect.locked {
    border-color: #F9B186;
}

#inspect.locked > .inspect-title {
    background-color: #772c00;
    border-color: #F9B186;
}

#inspect > .inspect-body {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
}

#inspect > .inspect-body > .inspect-attributes {
    font-family: monospace;
    font-size: 8pt;
    flex: 2;
}

#inspect > .inspect-body > .inspect-attributes thead tr:first-child {
    width: 50%;
}

#inspect > .inspect-body > .inspect-metrics {
    flex: 1;
    border-left: 1px solid white;
}

#inspect .json-string {
    color: #96D789;
}

#inspect .json-literal {
    color: #79A4D9;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#editor {
    background: #222222;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#editor .filebar {
    border-bottom: 1px solid #555555;
    background: #222222;
    display: flex;
}

#editor .files {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#editor .files .editor-file,
#editor .files .CodeMirror {
    width: 100%;
    height: 100%;
}

#editor .files {
    flex: 1;
}

#editor .logger {
    background: #333333;
    color: white;
    width: 100%;
    height: 20vh;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#editor .logger.active {
    display: flex;
}

#editor .logger .logger-toolbar {
    background-color: #555555;
    padding: 0.5em;
}

#editor .logger .logger-logs {
    flex: 1;
    font-family: monospace;
}

#editor .logger .logger-logs > div {
    padding: 0 0.5em;
    display: flex;
    justify-content: space-between;
}

#editor .logger .logger-logs > div > .right-side {
    user-select: none;
}

#editor .logger .logger-logs > .log-debug {
    background: rgba(121, 164, 217, 0.5);
}

#editor .logger .logger-logs > .log-info {
    background: transparent;
}

#editor .logger .logger-logs > .log-notice {
    background: rgba(150, 215, 137, 0.5);
}

#editor .logger .logger-logs > .log-warning {
    background: rgba(249, 177, 134, 0.5);
}

#editor .logger .logger-logs > .log-error {
    background: rgba(249, 133, 133, 0.5);
}


#editor .statusbar {
    background: #111111;
    color: white;
    width: 100%;
    height: 3vh;
    font-size: 90%;
    line-height: 3vh;
    vertical-align: middle;
    padding: 0 0.5em;
}

#editor .filebar .nav {
    background: transparent;
    border-bottom: 0;
}

#editor .filebar .nav .nav-item {
    background: transparent;
    font-size: 90%;
    text-align: center;
    margin-top: 0.75vh;
    margin-right: 0.25em;
}

#editor .filebar .nav .nav-link {
    color: #888888;
    border-radius: 0;
    border: 0;
}


#editor .filebar .nav .nav-item .file-icon {
    color: #888888;
}

#editor .filebar .nav .nav-item .active {
    background: #555555;
    color: white;
}

#editor .filebar .nav .nav-item .active .file-icon {
    color: white;
}

#editor .filebar .nav .nav-item .disabled {
    background: #111111;
    color: #555555;
    cursor: not-allowed;
}

#editor .filebar .open-files {
    /* margin-left: 1em; */
    flex: 1;
}

#editor .filebar .open-files .nav-item {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

#editor .filebar .open-files .nav-item a:first-child {
    flex: 1;
}

#editor .filebar .open-files .nav-item {
    min-width: 100px;
}

#editor .filebar .open-files .nav-item {
    text-align: left;
}

#editor .filebar .open-files .nav-item :first-child {
    padding-right: 0;
}

#editor .filebar .open-files .nav-item :last-child {
    padding-left: 0.5em;
    padding-right: 0.55em;
    text-align: center;
}

#editor .filebar .open-files .nav-item :last-child > i {
    padding: 0;
}

#editor .filebar .open-files .nav-item > .nav-link:last-child:hover {
    background-color: #888888;
    color: white;
}

#editor .filebar .file-actions {
    background-color: #222222;
}

#editor .filebar .file-actions .nav-link {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

#editor .filebar .file-actions .nav-link:hover {
    background: #555555;
    color: white;
}

#editor .filebar .workspace-selector .nav-link {
    background: transparent;
}

.fs-sidebar {
    background: #242424;
    padding:    0;
}

.fs-modules {
    position: relative;
}

.fs-sidebar .nav-link {
    color: white;
}

.fs-sidebar .nav-link:hover {
    background: #111111;
    color: #96D789;
}

.fs-sidebar ul {
    padding: 0;
}

.fs-sidebar li {
    list-style-type: none;
}

.fs-sidebar ul .nav-link {
    padding: 0 2em;
}

.fs-sidebar > .nav-item > ul {
    margin-bottom: 1.25em;
}

.fs-sidebar > .nav-item > .nav-link {
    background: #111111;
    color: #79A4D9;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.fs-modules .fs-module-commands {
    margin-top: 1em;
    margin-left: 1em;
}

.fs-modules .fs-module-commands .fs-command {
    border-top: 2px solid #DDDDDD;
    margin-bottom: 2em;
    padding-top: 1em;
}

.fs-modules h3 {
    font-family: monospace;
}